@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1321px;
    margin: 70px auto;
}
.top-banner{
    border-radius: 20px;
    background-color: black;
}
.banners{
    display: flex;
    justify-content: center;
    
}
.banner{  
    width: 50%;
    padding-right: 60px;
}
.banners .banner h2, p{
    color: white;
    margin-left: 80px;  
}
.banner h2{
    padding-top: 120px;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}
.banner p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}
.btn{
    color: white;
    background-color: crimson;
    padding: 12px 25px;
    margin: 30px 75px;
    border-radius: 5px;
    font-size: 20px;
}
.btn i{
    margin-left: 10px;
}
.banner img{
    width: 100%;
}
/* top banner styling ended */